<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
      <h1>EDIT Tenants Page</h1>
      <form action="/users/<%=userId%>/properties/<%=propertyId%>/tenants/<%=tenant._id%>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=tenant.name%>"></br>
        Rent: <input type="number" name="rent" value="<%=tenant.rent%>"></br>
        Contact number: <input type="tel" name="contactNum" value="<%=tenant.contactNum%>"></br>
        Contact email: <input type="email" name="contactEmail" value="<%=tenant.contactEmail%>"></br>
        <input type="submit" value="Edit Tenant">
      </form>
    </body>
</html>
