<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Tenants Index</title>
  </head>
  <body>
    <h1><%=property.name%> Tenants List</h1>
    <ul>
      <% for (let i = 0; i < tenants.length; i++) { %>
      <li>
        <a href="/users/<%=userId%>/properties/<%=propertyId%>/tenants/<%=tenants[i]._id%>">
          <%=tenants[i].name%>
        </a>
        <form action="/users/<%=userId%>/properties/<%=propertyId%>/tenants/<%=tenants[i]._id%>?_method=DELETE" method="POST">
          <input type='submit' value="DELETE"/>
        </form>
      </li>
      <% } %>
    </ul>
    <a href="/users/<%=userId%>/properties/<%=propertyId%>/tenants/new">Create new tenant</a>
  </body>
</html>