<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tenants Show</title>
  </head>
  <body>
    <h1>Tenants show page</h1>
    <p>Name: <%= tenant.name %></p>
    <p>Rent: <%= tenant.rent%></p>
    <p>Contact Number: <%= tenant.contactNum%></p>
    <p>Contact Email: <%= tenant.contactEmail%></p>
    <a href="/users/<%=userId%>/properties/<%=propertyId%>/tenants">Back to Property Tenants List</a>
  </body>
</html>
