<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tenants Show</title>
  </head>
  <body>
    <h1>Tenants show page</h1>
    <p>
      <%= tenant.name %>
      <%= tenant.rent%>
      <%= tenant.contactNum%>
      <%= tenant.contactEmail%>
      <%= tenant.propertyRented%>

    </p>
    <a href="/tenants">Back to Index</a>
  </body>
</html>
