<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Edit Views Property</title>
</head>

<body>
  <h1>Edit Property</h1>
  <form action="/users/<%=userId%>/properties/<%=property._id%>?_method=PUT" method="POST">
      Name: <input id="name" type="text" name="name" value="<%=property.name%>" />
      <br />

      Buy Price: $<input id="buyPrice" type="number" name="buyPrice" value="<%=property.buyPrice%>" />
      <br />

      Address: <input id="address" type="text" name="address" value="<%=property.address%>" />
      <br />

      Yearly Property Tax: $<input id="fees.propertyTax" type="number" name="fees.propertyTax" value="<%=property.fees.propertyTax%>" />
      <br />

      Yearly HOA Fees: $<input id="fees.hoaFees" type="number" name="fees.hoaFees" value="<%=property.fees.hoaFees%>" />
      <br />

      Yearly Home Insurance Cost: $<input id="fees.homeInsurance_cost" type="number" name="fees.homeInsurance_cost" value="<%=property.fees.homeInsurance_cost%>" />
      <br />

      Yearly Renters Insurance Cost: $<input id="fees.hoaFees" type="number" name="fees.renterInsuranceCost" value="<%=property.fees.renterInsuranceCost%>" />
      <br />

    <label for="img">Edit Image URL</label>

    <input type="text" name="img" id="img" value="<%=property.img%>" />
    <input type="submit" name="" value="Edit Property" />

    <nav>
      <a href="/users/<%=userId%>/properties/">Back to Index</a>
    </nav>
</body>

</html>
