<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Edit User</title>
  <script src="https://kit.fontawesome.com/c2796a7354.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel='stylesheet' href='/style.css'>
</head>

<body>
  <h1>Edit User Information</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="collapse navbar-collapse">
    <ul class='navbar-nav mx-auto mb-2 mb-lg-0'>
      <li class="nav-item mx-4">
        <a href="/users/<%=userId%>/properties/">Home Page</a>
      </li>
      <li class="nav-item mx-4">
        <a href="/users/<%=userId%>/properties/map">Map of Properties</a>
      </li>
      <li class="nav-item mx-4">
        <a href="/users/<%=userId%>/properties/new">Add New Property</a><br />
      </li>
      <li class="nav-item mx-4">
        <a href="/users/<%=userId%>/edit">Edit User Information</a>
      </li>
    </ul>
    </div>
  </nav>
  <div class="card mx-auto" style="width:50rem;">
  <form action="/users/<%=userId%>?_method=PUT" method="POST">

    Login: <input class='mb-2' id="login" type="text" name="login" value="<%=user.login%>" disabled />
    <br />

    New Password: <input class='mb-2' id="password" type="text" name="password" /><br />

    Confirm Password: <input class='mb-2' id="password" type="text" name="password1" /><br />

    <input type="submit" name="" value="Edit Login Information" />
  </div>
</body>

</html>
